.button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-width: 0.150rem;
  border-color: #1a9a94;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form {
  width: 333px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-width: 2px;
  outline: none;
  border-color: rgb(106, 106, 106);
  }
.form:hover {
border-color: rgb(1, 158, 158);
}
